.cardContainer-main {
  .card {
    box-sizing: border-box;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    font-weight: bolder;
    color: black;
    overflow: hidden;
    height: 330px;
    width:15.7vw;
  }

  .card:hover {
    border: 1px solid black;
    transform: scale(1.03);
  }

  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  .mainCard {
    display: flex;
    flex-direction: column;
    margin-left: 3.2vmax;
  }

  .cardDescription {
    display: flex;
    flex-direction: column;
  }
  .cardDescription span:first-child {
    font-size: 1.6vmax;
    margin: 0.7vmax 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 15.3vw;
  }
  .cardDescription span:last-child {
    font-size: 1.25vmax;
  }
  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }

  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
}
